* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body {
    background-color: #f4f7fa
}
.header {
    background-color: #b4b4b4;
    padding: 15px 30px;
    color: white;
}
.logo-title{
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.navbar a {
    margin: 0 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
.navbar a :hover {
    text-decoration:underline ;
}
.content {
    padding: 40px;
}
.section {
    display: none;
    animation:fadeIn  0.4s ease-in-out;
}
.section.active {
    display: block;
}
.section h2{
    margin-bottom: 15px;
    color: #0d0d0d;
}
.section p {
    font-size: 16px;
    line-height: 1.6;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
